.hero-section {
  padding-top: 315px;
  margin-bottom: 130px;
}

.hero-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 80px;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
}

.hero-titles {
  position: absolute;
  top: -40%;
  z-index: 5;
  left: -6%;

  .hero-title {
    font-family: "outward";
    font-size: 250px;
    line-height: 60%;
  }

  .hero-subtitle {
    font-size: 26px;
    position: relative;
    left: 17px;
  }
}

.hero-topics {
  position: absolute;
  right: -80px;
}

.hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
}

.hero-img-topic {
  filter: saturate(0) brightness(0.5);
  min-width: 1;
}

@media (max-width: 767px) {
  .hero-section {
    padding-top: 100px;
    margin-bottom: 80px;
  }
  .hero-main-container {
    margin-bottom: 120px;
  }
  .hero-titles {
    left: 20px;
    bottom: -50px;

    .hero-title {
      font-size: 42px;
    }

    .hero-subtitle {
      font-size: 20px;
    }
  }

  .hero-topics {
    right: -20px;
    font-size: 9px;
  }

  .hero-text {
    font-size: 12px;
  }
}
