.project-img-container-open {
  margin-top: 75px;
  max-height: 350px;
}

.project-img-open {
  max-height: 350px;
}

.project-container-open {
  justify-content: center;
  width: 100%;
}

.extend-open {
  margin-top: 120px;
  height: 200px;
  bottom: 0px;
}

.extend-project-image {
  max-width: 45%;
}

.extend-project-text {
  max-width: 45%;
}
.project-container {
  .project-titles-open {
    top: 0px;
    transform: translateY(0%);
  }
  .project-text-open {
    max-width: 150px;
    right: -175px;
  }
}
