.project-container-whole {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 115px;
}

.project-topics {
  position: absolute;
  left: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  i {
    color: $dark;
    background: $light;
    padding: 6px;
    border-radius: 50px;
    font-size: 18px;
  }
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .project-titles {
    position: absolute;
    left: -80px;
    z-index: 5;
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 18px;
    }
  }

  .project-text {
    position: absolute;
    max-width: 250px;
    right: -200px;
  }
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  overflow: hidden;
}

.project-img-container-top-img {
  align-items: flex-start;
}

.project-img-container-bottom-img {
  align-items: flex-end;
}

@media (max-width: 767px) {
  .project-container {
    flex-direction: column;
    align-items: flex-start;

    .project-titles {
      position: relative;
      left: 20px;
      top: -20px;
      order: 1;
    }

    .project-text {
      position: relative;
      right: 0;
      font-size: 14px;
      order: 2;
      max-width: 300px;
    }
  }

  .project-topics {
    display: none;
  }

  .project-container-whole {
    margin-bottom: 80px;
  }
}
