.project-section {
  .container {
    .row {
      margin-top: 100px;
      justify-content: space-between;
      gap: 100px;
    }
  }
}

.project-container-whole {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.project-topics {
  position: absolute;
  left: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  i {
    color: $dark;
    background: $light;
    padding: 6px;
    border-radius: 50px;
    font-size: 18px;
  }
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 60vw;
  margin-bottom: 0px;
  .project-titles {
    position: absolute;
    left: -80px;
    z-index: 5;
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 18px;
    }
  }
  .project-text {
    position: absolute;
    max-width: 40%;
    right: -35%;
    z-index: 5;
  }
}

.project-container:before {
  position: absolute;
  top: -50px;
  left: -1000;
  right: -1000;
  margin-left: auto;
  margin-right: auto;
  content: "";
  height: 0.2px;
  min-width: 50%;
  width: var(--width, 300px);
  background-color: $light;
  z-index: 10000;
}

.cache-img {
  position: absolute;
  top: 0px;
  backdrop-filter: saturate(1) blur(2px);
  background-color: $dark-transparent;
  width: 100%;
  height: 100%;
  max-height: 200px;
  z-index: 1;
  opacity: 1;
}

// .cache-img:hover {
//   opacity: 0;
// }

.cache-img .is-activ {
  opacity: 0;
}

.project-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  overflow: hidden;
  margin: auto;
}

.project-img {
  width: auto;
}

.project-img-container-top-img {
  align-items: flex-start;
}

.project-img-container-bottom-img {
  align-items: flex-end;
}

.extend::before {
  content: "";
  position: absolute;
  background-color: $light;
  width: var(--extendWidth);
  height: calc(100% + 40px);
  margin: auto;
  left: -450px;
  top: -100;
  bottom: -100;
  z-index: -10;
}

.extend {
  position: absolute;
  height: 0vh;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  justify-content: space-between;
  .extend-child {
    opacity: 0;
  }
}

.extend-project-image {
  max-width: 45%;
  pointer-events: none;
}

.extend-project-text {
  color: $dark;
  max-width: 45%;
  pointer-events: none;
}

@media (max-width: 767px) {
  .project-container {
    flex-direction: column;
    align-items: flex-start;
    .project-titles {
      position: relative;
      left: 20px;
      top: -20px;
      order: 1;
    }
    .project-text {
      position: relative;
      right: 0;
      font-size: 14px;
      order: 2;
      max-width: 300px;
    }
  }
  .project-topics {
    display: none;
  }
  .project-container-whole {
    margin-bottom: 80px;
  }
}
