/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::selection {
    background: $light;
    color: $dark;
  }
}

html {
  font-size: 16px;
  // height: 100%;
  // min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 16px;
  line-height: 1.25;
  // min-height: 100vh;
  // height: 100%;

  background: $dark;
  color: $light;

  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  border: none;
}

a {
  text-decoration: none;
}
/* ====================================
// base rules
// ==================================== */

.invisible {
  display: none;
}
